body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: lightsteelblue;
}

.container {
    text-align: center;
}

.container:before {
	content: "꩜";
	display: block;
    font-size: 5em;
    color: aliceblue; 
    position: absolute;
    left: 100px; /* Adjust the left position as needed */
    top: 40%; /* Adjust the top position as needed */

	animation: current-header 1s ease infinite reverse; 
}

.container:after {
	content: "꩜";
	display: block;
    font-size: 5em;
    color: aliceblue; 
    position: absolute;
    right: 90px; /* Adjust the left position as needed */
    top: 40%; /* Adjust the top position as needed */


	animation: current-header 1s ease infinite reverse; 
}

@keyframes current-header{
	0% {
		transform: rotate(0deg) scale(1);
	}
	100% {
		transform: rotate(360deg) scale(2);
	}
}
.Exercise, .Projects {
    font-size: larger;
    display: inline-block;
    margin: 10px auto;
    color: aliceblue;
    text-decoration: none;
}
.Exercise:hover, .Projects:hover{
    color:rgb(236, 146, 1); 
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.exercise-1{
    color:orange; 
    text-decoration: none;
}
.exercise-1:hover{
    color:rgb(135, 171, 218); 
    text-decoration: none;
}
.project-1{
    color: orange;
    text-decoration: none;
}
.project-1:hover{
    color:rgb(135, 171, 218); 
    text-decoration: none;
}

.text {
    color: aliceblue;
    font-size: 5em;
    letter-spacing: 5px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20), cursor 0.5s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}
